a {
  text-decoration: none;
  color: #000;
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

td.bt {
  border: none;
}

thead {
  background-color: green;
  color: #fff;
}

button {
  margin: 5px;
}
