<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/style.css">
        <title>一覧画面 - 顧客管理</title>
    </head>
    <body>
        <button><a href="/create" onclick="route()">新規登録</a></button>
        <div id="main-page"></div>

        <table>
            <thead>
                <th>次回アポ日付</th>
                <th>契約した売上</th>
                <th>現在契約本数</th>
                <th>会社名</th>
                <th>会社名かな</th>
                <th>資本金</th>
                <th>従業員数</th>
                <th>アポ先部署</th>
                <th>担当者名</th>
                <th>担当者名かな</th>
                <th>URL</th>
            </thead>
            <tbody>
                <% for (let i=0; i < users.length; i++) { %>
                    <tr>
                        <td>
                            <% var date2=users[i].NextAppointmentDate; var b=date2.toLocaleDateString(); %>
                                <%- b %>
                        </td>
                        <td>
                            <%- users[i].sales %>
                        </td>
                        <td>
                            <%- users[i].CurrentContractCount %>
                        </td>
                        <td>
                            <%- users[i].CompanyName %>
                        </td>
                        <td>
                            <%- users[i].CompanyNameKana %>
                        </td>
                        <td>
                            <%- users[i].Capital %>
                        </td>
                        <td>
                            <%- users[i].EmployeesCount %>
                        </td>
                        <td>
                            <%- users[i].AppointmentDepartment %>
                        </td>
                        <td>
                            <%- users[i].ContactPersonName %>
                        </td>
                        <td>
                            <%- users[i].ContactPersonKana %>
                        </td>
                        <td>
                            <%- users[i].URL %>
                        </td>
                        <td class="bt">
                            <button><a href="/edit/<%- users[i].id %>">詳細情報</a></button>
                            <!-- <button><a href="/delete/<%- users[i].id %>">編集</a></button> -->
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </body>
</html>
